<header class="bg-pri-col text-white h-[4rem] flex items-center">
    <div class="container-custom flex items-center justify-between w-full h-full">
        <div class="uppercase font-semibold text-lg">blog application</div>
        
        <button class="border border-white/20 py-1 px-2 text-lg rounded-md">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>