<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog Application</title>

    <link href="/output.css" rel="stylesheet">

    <!-- Nunito fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <%- include("partials/header.ejs") %>
    
    <div class="flex gap-8 container-custom my-4 h-[calc(100vh-6rem)]">
        <aside class="border w-[15rem] hidden min-[768px]:block h-full">1</aside>
        <div class="border w-full min-[768px]:w-[calc(100%-15rem)] min-h-full">1</div>
    </div>

</body>

</html>